{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
  	{% for destination in destinations %}
  	<div class="col-lg-4 col-xs-12 col-md-6">
	  	<a href="{% url 'destination-detail' destination.id %}">
	  		<div class="card">
				<img class= "card-img-top"src="{{destination.pretty_picture.url}}" alt="Card image cap">
				<div class="card-body">   

	    	<p>{{destination.name}}</p>
	    	<p>{{destination.activities}}</p>
				</div>
			</div>
	    	
	  	</a></div>
  {% endfor %}
</div>
{% endblock content %}